.searchBarContainer{
  width: 770px;
}

.searchBarContainer :global(.vtex-input-prefix__group){
  border:none;
  border-radius: 0;
  border-bottom: thin solid white;
}

.searchBarContainer :global(.vtex-input__sufix){
background:rgb(20, 20, 20); ;
}

.searchBarContainer :global(.vtex-styleguide-9-x-input){
  background: transparent;
  color:#59FF00;
  }

  .searchBarContainer :global(.vtex-store-components-3-x-searchBarIcon) {
    color:#59FF00;
  }

  .imageElement {
    width: 50%;
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    margin: 80px;
}

  /*<label class="vtex-input w-100"><div class="vtex-input-prefix__group flex flex-row items-stretch overflow-hidden br2 bw1 b--solid b--muted-4 hover-b--muted-3 h-large "><input class="vtex-styleguide-9-x-input ma0 border-box vtex-styleguide-9-x-hideDecorators vtex-styleguide-9-x-noAppearance br2  br-0 br--left  w-100 bn outline-0 bg-base c-on-base b--muted-4 hover-b--muted-3 t-body pl5 " autocomplete="off" placeholder="Buscar" type="text" id="downshift-0-input" value=""><span class="c-muted-2 fw5 flex items-center t-body bg-base  vtex-input__suffix br2 bl-0 br--right pr5 pl4 "><div class="vtex-store-components-3-x-suffixWrapper vtex-store-components-3-x-suffixWrapper--search-bar flex h-100"><button class=" vtex-store-components-3-x-searchBarIcon vtex-store-components-3-x-searchBarIcon--search-bar vtex-store-components-3-x-searchBarIcon--search vtex-store-components-3-x-searchBarIcon--search-bar--search flex items-center pointer bn bg-transparent outline-0 pv0 pl0 pr3"><svg fill="none" width="16" height="16" viewBox="0 0 16 16" class=" vtex-store-components-3-x-searchIcon vtex-store-components-3-x-searchIcon--search-bar" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><use href="#hpa-search" xlink:href="#hpa-search"></use></svg></button></div></span></div></label>