.container{
    background:black;
}

.buyButton{
    background-color:black;
    color: black;
}

.buyButtonContainer{
    background-color:black;
    color: black;
}

.buttonDataContainer{
    background: black;
}