.imageElement {
    border-radius: 1rem;

}

.caretIcon{
    color: white;
}

.slideTrackContainer {
    align-items: flex-end;
}

.sliderArrows {
    bottom: 0;
}

.sliderLayoutContainer{
    padding-bottom: 35px;
    background: black;
}

.paginationDotsContainer{
    padding-bottom: 10px;
}