
.listContainer :global(.vtex-button) { 
    justify-content: left;
    border: none;
    background-color:transparent;
}
 .listItemActive {
        border-bottom: 2px solid #59FF00;
        color: #59FF00; 
    }
.listContainer{
        background: black;
    }

    .listContainer--tablelist{
        background-color: black;
    }
